Mateos2013.Tesis.bib.bak
text/08.introduccion.aux
text/08.introduccion.bbl
text/08.introduccion.blg
text/08.introduccion.log
text/10.materialesMetodos.tex.aux
text/11.resultadosDiscusion.tex.aux
text/14.bibliografia.aux
text/14.bibliografia.log
thesis-blx.bib
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.log
thesis.pdf
thesis.run.xml
thesis.synctex.gz
figures/
text/01.portada.aux
text/02.primeraPagina.aux
text/03.certificadoDirector.aux
text/04.agradecimientos.aux
text/05.Resumen.aux
text/06.indice.aux
text/07.claveAbreviaturas.aux
text/09.objetivos.aux
text/10.materialesMetodos.aux
text/11.resultadosDiscusion.aux
text/13.conclusiones.aux
text/15.anexos.aux
thesis.out
thesis.toc
Mateos2013.Tesis.bib.old
Tramites/
biberusage.txt
code/
data/
text/08.introduccion.dvi
text/09.objetivos.log
text/10.materialesMetodos.log
text/11.resultadosDiscusion.bbl
text/11.resultadosDiscusion.blg
text/11.resultadosDiscusion.log
text/12.discusion.aux
text/12.discusion.bbl
text/12.discusion.blg
thesis.bcf
thesis.lof
*.*~
*.*~
